.small-margin-left{
    margin-left: 3rem;
}

.work-information, .education-information {
    p{
        margin-bottom: 0px;
    }
}

.work-information{
    margin-bottom: 1rem;
}

.work-title, .education-title, .language-name, .education-thesis, .award-description {
    font-weight: 500;
}