/* Theme */

main {
	border-top: 4px solid #ffe57f;
	background: #38474f;
	border-bottom: 4px solid #ffe57f;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a:hover {
	color: #ffe57f;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icons-social a img {
	filter: brightness(0) invert(1);
}

.icons-social a img:hover {
	/* Retrieved from: https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(100%) sepia(77%) saturate(1917%) hue-rotate(310deg) brightness(114%) contrast(102%);
}
