.inline-list {
    list-style-type: none;
    .inline-list-element {
        display: inline-block;

        &:after{
            content: attr(separator);
            margin-left: 3px;
        }

        &:last-child:after {
            content: "";
            margin-left: 0px;
        }
    }
}

.small-margin-left{
    margin-left: 3rem;
}

.work-information, .education-information {
    p{
        margin-bottom: 0px;
    }
}

.work-information{
    margin-bottom: 1rem;
}

.work-title, .education-title, .language-name, .education-thesis, .award-description {
    font-weight: 500;
}