/* Typography */
html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}


/* Background */

body {
	background: $secondary-background-color;
}
  
.skewed-background{
	background: $main-background-color;
	padding: 10vh 0;
	margin-top: -10vh;
	transform: skew(0deg, -5deg);
	
	main {
		transform: skew(0deg, 5deg);
	}
}

/* Content layout itself */

main {
	display: flex;
	flex-direction: column;
	height: 75vh;
	padding: 0px 30px;
	justify-content: center;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	font-size: 3em;
	padding: 10px;
}