<header class="site-header">
	<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

	<ul class="social-links">
		{% for prop in site.author offset:2 %} <!-- skip some due to different url generation -->
	    	{% assign social_network=prop[0] %}
	    	{% assign user_id = prop[1] %}
	    	
	    	{% assign url-prefix=site.data.social_links.social-base-url[social_network] %}
	    	{% assign url-sufix=site.data.social_links.social-end-url[social_network] %}
	    	
	    	{% assign fav_icon = social_network %}	    	
	    	{% if site.data.social_links.custom-fav-icon[social_network] %}
	    		{% assign fav_icon = site.data.social_links.custom-fav-icon[social_network] %}
	    	{% endif %}

	    	{% assign tooltip = url-prefix | remove:'http://' | remove:'https://' | remove:'mailto:' | remove:'skype:' | remove:'www.' | append:user_id %}
	    	{% if site.data.social_links.custom-tooltip[social_network] %}
	    		{% assign tooltip = site.data.social_links.custom-tooltip[social_network]%}
	    	{% endif %}

	    	{% assign url = url-prefix | append: user_id | append: url-sufix %}

	    	<a data-tool="{{ tooltip }}" href="{{ url }}" class="tooltip bottom social-links__entry" target="_blank">
	    		<i class="fa fa-{{ fav_icon }}"></i>
	    	</a>
		{% endfor %}

	</ul>
</header>