---
title: About
layout: page
permalink: /about/index.html
show-title: true
---

<img class="circular" src="{{ site.author.profile-image | prepend: site.url }}"/> 

<div>
    <p></p>
    {% for cv-data in site.data.curriculum offset: 1 %}
        {% assign category-name = cv-data[0] %}
        {% assign category-data = cv-data[1] %}

        <h2> {{ category-data.title }} </h2>
            <ul>
                {% if category-name == "projects" %}                    
                    {% for project-category in category-data offset:1 %}
                        <li>
                            <span class="capitalize-first-letter">{{ project-category[0] }}</span>
                            <ul>    
                                {% for project in project-category[1] %}
                                    <li><a href="{{ project[1].url }}"> {{ project[1].name }} </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% elsif category-name == "skills" %}
                    {% for skill-category in category-data offset:1 %}
                        <li>
                            <b>{{ skill-category[1].name }}</b>: 
                            <ul class="inline-list">
                                {% for skill in skill-category[1].content %}
                                    <li separator="," class="inline-list-element">{{ skill }}</li>
                                {% endfor %}
                            </ul>                            
                        </li>
                    {% endfor %}

                {% elsif category-name == "languages" %}
                    {% for language in category-data offset:1 %}
                        <li class="language-skill"> 
                            <ul class="inline-list">
                                <li separator=":" class="inline-list-element language-name">{{ language[1].name }}</li>                                
                                <li separator="," class="inline-list-element">Oral - {{ language[1].oral-level }}</li>
                                <li separator="," class="inline-list-element">Written - {{ language[1].written-level }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                {% elsif category-name == "work" or category-name == "volunteer" %}
                    {% for work in category-data offset:1 %}
                        <li class="work-information">
                            <p>
                                <span class="work-from-to">{{ work[1].from }} - {{ work[1].to }}</span>:
                                <span class="work-title">{{ work[1].title }}</span>, 
                                <span class="work-location">{{ work[1].location }}</span>
                            </p>
                            <p class="small-margin-left">{{ work[1].description }}</p>                         
                        </li>
                    {% endfor %} 

                {% elsif category-name == "education" %}
                    {% for education in category-data offset:1 %}
                        <li class="education-information">
                            <p>
                                <span class="education-from-to">{{ education[1].end }}</span>:
                                <span class="education-title">{{ education[1].type }} in {{ education[1].name }}</span> 
                                ({{ education[1].grade }}), 
                                <span class="education-location">
                                {% if education[1].location-url != "" %}
                                    <a href="{{ education[1].location-url }}">{{ education[1].location }}</a>
                                {% else %}
                                    {{ education[1].location }}
                                {% endif %}
                                </span>
                            </p>
                            <p>
                            {% if education[1].thesis != "" %}
                                Theme: <span class="education-thesis">{{ education[1].thesis }} </span>
                            {% endif %}
                            </p>
                            {% if education[1].supervisors.size > 0 %}
                                <p>
                                   {% if education[1].supervisors.size == 1 %}
                                        Supervisor: 
                                    {% else %}
                                        Supervisors: 
                                   {% endif %}
                                   {% for supervisor in education[1].supervisors %}
                                        {{ supervisor }} {% unless forloop.last %}, {% endunless %}
                                   {% endfor %}
                                </p>
                            {% endif %}
                            <p class="small-margin-left"> {{ education[1].description }}</p>                         
                        </li>
                    {% endfor %}

                {% elsif category-name == "honors-awards" %}
                    {% for award in category-data offset:1 %}
                        <li>
                            {{ award[1].date }}: <span class="award-description">{{award[1].description }}</span>
                            {% if award[1].for != "" %} 
                                for {{ award[1].for }}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
    {% endfor %}
</div>