<!-- default values -->
{% assign category_name = "Recent Posts" %}
{% assign max_posts = 5 %}

{% for category in site.data.categories %}
  {% if category.slug == page.category %}
    {% assign category_name = category.name %}
    {% assign max_posts = 2500 %}
  {% endif %}
{% endfor %}

<section>
    <h2 class="smallcap"> {{ category_name }} </h2>
    <ul class="post-list">
        {% assign empty_category = true %}
            {% for post in site.posts limit:max_posts %}
                {% if page.category == null or page.category == "all" or post.categories contains page.category %}
                    <li>
                        <span>{{ post.date | date: "%B %d, %Y" }}</span>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                    {% assign empty_category =  false %}
                {% endif %}                           
            {% endfor %}

        {% if empty_category %}
            <li> 
                There is nothing posted (yet!).
            </li>
        {% endif %}
    </ul>

</section>