{% if page.category %}
    {% assign category_name = page.category %}
    {% assign max_posts = 2500 %}
    {% if category_name == "all" %}
        {% assign source = site.posts %}        
    {% else %}
        {% assign source = site.categories[category_name] %}
    {% endif %}
{% else %}
    {% assign category_name = "Recent Posts" %}
    {% assign max_posts = 5 %}
    {% assign source = site.posts %}
{% endif %}

<h2 class="smallcap capitalize-first-letter"> {{ category_name }} </h2>
<ul class="post-list">
    {% assign empty_category = true %}
       {% for post in source limit: max_posts %}
            <li>
                <span>{{ post.date | date: "%B %d, %Y" }}</span>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% assign empty_category =  false %}
        {% endfor %}

    {% if empty_category %}
        <li>There is nothing posted (yet!).</li>
    {% endif %}
</ul>
