---
layout: compress
---
<!-- http://jch.penibelst.de/ -->

<!DOCTYPE html>
<html>
  <head>
    {% include meta_tags/base.html %}
    {% include meta_tags/sharing.html %}
    {% include externals/favicons.html %}
    {% feed_meta %}
    {% include externals/styling.html %}
    {% include externals/tools/loadJS.html %}


    {% if site.debug %}
      {% include externals/debug/border-lines-debug.html %}
      {% include externals/debug/helium-css-analyser.html %}
    {% endif %}
  </head>
  <body class="Site">
    {% include main_design/header.html %}    
   
    <div class="page-content">
      {{ content }}
    </div>
    
    {% include main_design/footer.html %}
    
    <!-- delay js -->
    {% include externals/tools/highlight.html %}
    <!-- {% include externals/tools/google_analytics.html %}  -->
  </body>
</html>
